<!doctype html>
<html lang="en" ng-app = "ajboapp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <title>บทบาททางสังคมปัจจุบัน</title>
  </head>
  <body ng-controller="Orders_ctrl">
    <h1>บทบาททางสังคมปัจจุบัน</h1>
    <form ng-submit ="senddata()">

  <div class="row mb-3">
    <label for="input1" class="col-sm-2 col-form-label">IDCard</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input1" ng-model="f.a">
    </div>
  </div>
  <div class="row mb-3">
    <label for="input2" class="col-sm-2 col-form-label">SituID </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input2" ng-model="f.b">
    </div>
  </div>
  <div class="row mb-3">
    <label for="input2" class="col-sm-2 col-form-label">Situname</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="input2" ng-model="f.b">
    </div>
  </div>
  
  <div class="row mb-3">
    <div class="col-sm-10 offset-sm-2">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">บันทึก</button>
</form>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  สถานะการบันทึกข้อมูล
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">สถานะการบันทึกข้อมูล</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{bobo}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  </body>
  <script src="situation.js"></script>
</html>